@font-face {
    font-family: 'hackregular';
    src: url('Hack-Regular-webfont.eot');
    src: url('Hack-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Hack-Regular-webfont.woff2') format('woff2'),
         url('Hack-Regular-webfont.woff') format('woff'),
         url('Hack-Regular-webfont.ttf') format('truetype'),
         url('Hack-Regular-webfont.svg#hackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Body */

body
{
    font-family: 'hackregular'
}

/* Header and footer*/

header, footer
{
    background-color: black;
    color: white;
}

.logo
{
    font-size: 2.3em;
    margin-top: 7px;
    color: rgb(31, 191, 255);
}

.slogan
{
    font-size: 1.2em;
    font-style: italic;
    margin-top: 20px;
}

footer p
{
    font-size: 1.2em;
    margin-top: 20px;
}

a, a:visited
{
    color: white;
    font-weight: bold;
}

a:hover
{
    text-decoration: underline;
    font-style: italic;
    color: rgb(214, 214, 214);
}

/* Section */

.dialog
{
    height: 348px;
    background-color: rgb(163, 226, 255);
    overflow: auto;
}

.dialog p
{
    font-style: italic;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Media querries */

@media all and (max-width: 768px)
{
    .slogan
    {
        font-size: 1em;
        margin-top: 25px;
    }
}

@media all and (max-width: 576px)
{
    header, footer
    {
        border-radius: 0px;
    }

    .logo
    {
        font-size: 1.9em;    
    }

    footer p
    {
        font-size: 1em;
    }
}